{% extends 'base/main.html' %} <!--代表繼承main這個父html-->
<!--href= "{% url 'room' room.id %}可改成href="/room/{{room.id}}"-->
{% block content %}
<!--分成兩個區塊,一個topics一個為Browse Topics-->
<style>
    .home-container {
        display:grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>
<div class="home-container">
    <div>
        {% include 'base/topics_component.html' %}
    </div>

    <div>
        <h5>{{room_count}} rooms available</h5>
        <a href="{% url 'create-room' %}">Create Room</a>
        
        {% include 'base/feed_component.html' %}
        
    </div>
    <div>
        {% include 'base/activity_component.html' %}
    </div>
    
</div>

{% endblock  %}